$white: hsl(0, 0, 95%)
$body-background-color: $white
$primary: hsl(348, 100%, 61%)
$light: #fff

$menu-item-hover-background-color: $light

@import "~bulma/bulma"

body, #main > .columns
  height: 100%

$sidebar-pad: 2rem
$sidebar-itemgap: 1rem

.is-left
  margin-right: .5rem

.hero
  .hero-head
    padding: 1rem 1rem 0
  .hero-body
    padding: 1rem $sidebar-pad 1.5rem

.menu
  padding-top: 1rem
  & > ul > li > a
    margin: 0 $sidebar-itemgap
    border-radius: $radius-large
  & > ul > li > a, & > p
    padding:
      left: $sidebar-pad - $sidebar-itemgap
      right: $sidebar-pad - $sidebar-itemgap
  p.menu-label
    margin-bottom: .1rem
  p.control
    margin: .5rem $sidebar-pad
  button
    margin-top: .5rem

.sidebar
  overflow: hidden

.sidebar-pages
  width: inherit
  position: relative
  transform: translateZ(0)
  transition: transform .2s
  // &:hover
  //   transform: translate3D(-100%, 0, 0)
  & > *
    width: inherit
    position: absolute
    left: 0
    top: 0
    &:nth-child(2)
      left: 100%

li:not(:last-child)
  .fa-circle-o
    position: relative
  .fa-circle-o::after
    display: block
    content: ''

    position: absolute
    transform: translate(-50%, .2rem)
    left: 50%
    top: 100%

    width: 2px
    height: 1.2rem

    background: hsla(0, 0%, 0%, .3)